<h1> About us </h1>

<body> Many moons ago, two babies were born. Then for the next 30 years, nothing interesting <br>
happened. It was around this time the two met through friends at a bar where the foundation <br>
of their connection was laid. Julio was the manager of a popular coffee shop – the kind you <br>
can find directly across the street from another of the same name. Chris was working a dead end <br>
job - the kind that crushes your humanity daily. A few years later, their kinship was cemented. <br>
One evening, they decided to join two of their passions: providing an exceptional experience <br>
to those seeking to battle their morning doze, and providing appetizing BBQ to those seeking <br>
sustenance. Coffee-Q was conceived. </body>

